.profileeditmodal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.profileeditmodal--container {
  width: 100%;
  max-width: 40rem;
  background-color: var(--background-light);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  -webkit-box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.35);
}

.profileeditmodal--header {
  width: 100%;
}

.profileeditmodal--form--subheading {
  font-weight: 300;
  font-size: 0.9rem;
}

.profileeditmodal--form--body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}

.profileeditmodal--form--input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.profileeditmodal--form--input label {
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--primary);
}

.profileeditmodal--form--input input {
  border: none;
  outline: none;
  background-color: var(--background);
  width: 100%;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--font-color);
}

.profileeditmodal--buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileeditmodal--form--image {
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  overflow: hidden;
  border-radius: 50%;
  outline: 1px solid var(--primary);
  cursor: pointer;
}

.profileeditmodal--form--image--overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 0.8rem;
  visibility: hidden;
  background-color: var(--background);
  opacity: 0.75;
}

.profileeditmodal--form--image:hover .profileeditmodal--form--image--overlay {
  visibility: visible;
}

.profileeditmodal--form--imageInput {
  display: none;
}

.profileeditmodal--photo--error {
  font-size: 0.9rem;
  font-weight: 400;
  color: red;
  font-style: italic;
}

.profileeditmodal--form--error {
  font-size: 0.9rem;
  font-weight: 400;
  color: red;
  font-style: italic;
}
